// body {
    
//     .grid {
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         grid-column-gap: 1px;
//         grid-gap: 10px;
//         background-color: $themeColor-Light;
//         color: #444;
//     }
    
//     .box {
//         border: solid 1px black;
//         background-color: $themeColor-Light;
//         color: $text;
//         padding: 20px;
//         font-size: 150%;
//     }
// }
  
.grid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1px;
    background-color: black;
}
  
.box {
    background-color: #0069b3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 70px;
    color: white;
    line-height: 1;
    // font-family: 'hobeaux-rococeaux-background', Helvetica;
    font-weight: 200;
    cursor: pointer;
    transition: all .3s ease;
}