// Base styles
// @import 'fonts';

.root {
    display: flex;
    margin: 0;
    padding: 0;
}

  
body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: blue;
}

html, body, #root {
    height: 100%;
}
  
// //   *, *:after, *:before, input[type=search] {
// //     box-sizing: border-box;
// //   }
  

// ul, li, h1, h2, h3, h4, h5, h6, p {
//     padding: 0;
//     margin: 0;
// }

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

